html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    font-size: 20px;
    font-style: italic;
}

.container {
    background-image: url("../img/1.jpg");
    height: 100vh;
}

.container > .bg-overlay {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   padding-top: 30px;
   background-color: rgba(37, 1, 54, 0.5); 
   height: 96.8%;
   width: 94.7%;
   padding-left: 150px;
}

.panelis, .deck, #teksts, #form {
    border-radius: 5px;
    box-shadow: 8px 9px 26px 0 rgba(255, 255, 255, 0.3);
}

#form, #teksts {
    background-color: #42aaf5;
    margin-left: 100px;
}


/* Panelis */
.panelis {
    padding: 20px;
    background-color: #98db07;
    margin-bottom: 25px;
}

.button, #izmers {
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

#izmers {
    background-color: white;
    color: black;
    padding: 15px 10px;
}

.button {
    background-color: #009933;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
}

.button:hover {
    background-color: #007124;
}

.panelis p {
    font-style: normal;
}



/* Spēles laukums */
#spele {
    position: relative;
}

.deck, .kartis {
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.deck {
    background: #5d8cc2;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 3em;
}

.kartis {
    background: #3333cc;
    margin: 3px;
    font-size: 0;
    color: #ffffff;
    cursor: pointer;
    justify-content: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.kartis:hover {
    background: #3370cc;
}

.open {
    background: #ffff00;
    cursor: default;
    animation-duration: .75s;
}

.show {
    color: black;
    font-size: 33px;
}

.match, .unmatched {
    animation-name: pulse;
    animation-duration: .75s;
}

.match {
    cursor: default;
    background: #009933;
    font-size: 33px;
}

.unmatched {
    background: #cc3300;
}

.disabled {
    pointer-events: none;
}



/* Uzvara */
#spele > #uzv {
   display: none;
   position: absolute;
   top: 9%;
   left: 11%;
   padding: 20px;
   padding-right: 50px;
   background-color: gold;
   border-radius: 5px;
   z-index: 1;
}

#uzv img {
   padding-left: 47px;
} 

#uzv #close {
  cursor: pointer;
  position: absolute;
  padding: 10px 14px;
  right: 5px;
  top: 5px;
  border-radius: 24px;
}

#close:hover {
    background-color: #eee;
}

#uzv p {
    font-style: normal;
}



/* Forma */
.col2 {
    padding-left: 50px;
}

#form {
    padding: 20px;
    margin-bottom: 40px;
}



/* Teksts */
#teksts {
    padding: 20px 20px 45px 20px;
    margin-top: -15px;
    font-style: normal;
    position: relative;
}

#teksts ol, #teksts a {
    color: #962f06;
    text-decoration: none;
}

#teksts > a {
    background-color: #009933;
    color: white;
    padding: 13px;
    border-radius: 20px;
    position: absolute;
    left: 40%;
}

#teksts > a:hover {
    background-color: #007124;
}

#teksts .bold {
    font-weight: bold;
}

.nolink {
    color: black;
}

.list li {
    color: #035719;
}



/* Zem mājaslapas */
#video {
    padding-top: 80px;
    padding-bottom: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#video h1 {
   color: navy; 
}

#autors {
    text-align: center;
    font-family: Arial;
    font-size: 13px;
    color: grey;
    font-style: normal;
    padding-bottom: 20px;
}



/* Spēles lauciņu kustība */
@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}



/* Responsive CSS */
@media only screen and (min-width: 1400px) {
    .deck {
        width: 458px;
        height: 458px;
    }
    
    #spele {
        width: 490px;
        height: 490px;
    }
    
    .panelis {
        width: 450px;
        height: 275px;
    }
    
    #form {
        width: 700px;
        height: 275px;
    }
    
    #teksts {
        width: 700px;
        height: 425px;
    }
}

@media only screen and (max-width: 1400px) {
    .container {
        height: 205vh;
    }
    
    .container > .bg-overlay {
        width: 100%;
        height: 98.4%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 0px;
    }
 
    .deck {
        width: 458px;
        height: 458px;
    }
    
    #spele {
        width: 490px;
        height: 490px;
    }
    
    .panelis {
        width: 450px;
        height: 275px;
    }
    
    #form {
        width: 450px;
        height: 275px;
        margin-left: 0px;
        margin-top: 30px;
    }
    
    #teksts {
        width: 450px;
        height: 500px;
        margin-left: 0px;
    }
    
    iframe {
        width: 300px;
        height: 200px;
    }
    
    #video h1 {
        font-size: 30px;
    }
    
    #teksts > a {
        left: 35%;
    }
}
